pip install "unsloth[cu124-torch250] @ git+https://github.com/unslothai/unsloth.git"
apt-get install build-essential
pip install --upgrade --no-cache-dir --no-deps unsloth transformers tokenizers git+https://github.com/huggingface/trl.git